---
---

$header-heading-color: #fff !default;
$header-bg-color: #252423 !default;
$header-bg-color-secondary: #252423 !default;
$section-headings-color: #252423 !default;
$table-border-color: #252423 !default;

@import "{{ site.theme }}";

.page-header{
    background-image: url("../../lol3_42.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    object-fit: contain;
    display: inline-block;
}

.project-tagline{
    opacity: 1;
}

.btn{
    opacity: 1;
}

.bar{
  height: 10px;
  width: 100%;
  background: linear-gradient(rgba(37,36,35,1), rgba(0,0,0,0));
}

// .teal{
//   width:100%;
//   height:100px;
//   position: sticky; top: 25px;
//   background: #252423;
// }

// .center-table{
//   margin: 0px auto;
// }

table.center{
  width:50%;
  margin-left: auto;
  margin-right: auto;
}
table.center-img{
  width:90%;
  margin-left: auto;
  margin-right: auto;
}

img.center{
  width:90%;
  margin-left: auto;
  margin-right: auto;
}

p.center{
  width:50%;
  margin-left: auto;
  margin-right: auto;
}

p.center-left{
  width:100%;
  margin-left: auto;
  margin-right: auto;
}

table.fixed{
  border-collapse: collapse;
  table-layout: fixed;
  width:100%;
  // margin-left: auto;
  // margin-right: auto;
}

th, td{
  border: 5px solid;
}

td{
    text-align: center;
    vertical-align: middle;
}

td+td{
  width: auto;
}

figcaption{
  font-size: small;
}

button {
    width: 5%;
    vertical-align: middle;
    position: sticky; top: 35px;
    height: auto;
    border: none;
    background-color: #252423; /* Black*/
    font-size: 40px;
    color:#ffffff;
}

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #252423; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.3s; /* 0.3 second transition effect to slide in the sidenav */
    white-space: nowrap;
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 32px 16px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 20px;
    font-size: 36px;
    margin-left: 50px;
}


 #main {
     transition: margin-left .5s;
     padding: 2px;
 }

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
